fieldset{
    border-style:outset;
    border-radius: 20px;
    border-width: medium;
    width: 500px;
    margin-left: 200px;
    margin-top: 50px;
    background-color:
    rgb(211, 211, 247)
    
}
legend{
    border-style:outset;
    background-color: white;
}
input[type="Submit"]{
    
    background-color: rgb(247, 161, 175);
}
a{
    color: red;
}
div{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}